* {
  font-family: 'Raleway', sans-serif;
}

button {
  background-color: #C04ABC;
  font-size: 1em;
  font-weight: 700;
  border-radius: 7px;
  padding: 4px;
  margin: 5px;
  border: none;
  box-shadow: 1px 1px;
}
