* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  background-color: #B6C8A9;
  display: grid;
}

.title {
  padding: 10px;
}
