* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  /* background-color: #419D78; */
  background-color: navy;
}

.title {
  padding: 20px;
  color: white;
}
