* {
  font-family: 'Raleway', sans-serif;
}

button {
  cursor: pointer;
}

input {
    border-radius: 6px;
    padding: 3px;
    width: 15%;
    height: 25px;
}

.submit-btn {
  background-color: #E0A458;
}
