.NewsArticle {
  font-family: 'Raleway', sans-serif;
  border: 2px solid black;
  border-radius: 8px;
  width: 30%;
  margin: 20px;
  padding: 10px;
  margin-left: 35%;
  background-color: #CEDADA;
}

img {
  width: 60%;
  height: 60%;
}
